.notify .note {
  position: relative;
  padding: 20px 10px;
  background-color: #677d98;
  color: #ffffff;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition:transform 1s ease-in-out;
  -ms-transition:transform 1s ease-in-out;
}
.notify .note.note:hover {
  background-color: #52647b;
}
.notify .note.note-success {
  background-color: #2bb776;
}
.notify .note.note-success:hover {
  background-color: #27ae60;
}
.notify .note.note-info {
  background-color: #25a0e2;
}
.notify .note.note-info:hover {
  background-color: #008dd8;
}
.notify .note.note-warning {
  background-color: #ecc45f;
}
.notify .note.note-warning:hover {
  background-color: #fdc436;
}
.notify .note.note-danger {
  background-color: #fa5555;
}
.notify .note.note-danger:hover {
  background-color: #ff3a3a;
}
.notify .note .image,
.notify .note .remove {
  position: absolute;
  font-size: 24px;
  color: #ffffff;
}
.notify .note .remove {
  top: 0;
  right: 10px;
  font-size: 18px;
  background: rgba(0,0,0,0.2);
  border: 0;
  padding: 0;
}
.notify .note .remove:focus {
  outline: none;
  border: none;
}
.notify .note .image {
  text-align: center;
  top: 18px;
}
.notify .note .content {
  margin-right: 31px;
}
.notify .note .image + .remove + .content {
  margin-left: 40px;
}
.notify .note .title {
  margin-right: 5px;
}
.notify.notify-notes {
  position: fixed;
  top: 90px;
  right: 20px;
  z-index: 1001;
  width: 25%;
}
.notify.notify-messages {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
}
.notify.notify-notes .note:not(:last-child) {
  margin-bottom: 10px;
}
.notify.notify-notes .image {
  top: auto;
}
.notify.notify-notes .title {
  display: block;
  margin-right: 0;
  margin-bottom: 10px;
  font-size: 16px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .notify.notify-notes {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .notify.notify-notes {
    width: 30%;
  }
}