@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,600,700|Poppins:300,400,500,600,700|Roboto:300,400,500,700|Ubuntu:300,400,500,700|Work+Sans:400,500,700');

/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Work Sans', sans-serif;*/
/*font-family: 'Ubuntu', sans-serif;*/


/************************************************
	************************************************
										Body CSS							
	************************************************
************************************************/
html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font: normal .9rem 'Poppins', sans-serif;
  color: #2e323c;
  background: #d0d8e2;
}

.spacer90 {
	height: 90px;
	display: block;
	position: relative;
}

/* Fixed Header */
.fixed-header {
	background: #ffffff;
	padding: .5rem 1rem;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
}

a.logo {
	margin: 2px 0 0 0;
	display: block;
	color: #ff7210;
	font-weight: 600;
	font-size: 2rem;
	text-decoration: none;
}


.header {
	position: relative;
	background-color: #195190;
	padding: 3rem 1.5rem;
	color: #e1e9f1;
	text-align: center;
}
.header h1 {
	line-height: 130%;
	font-weight: 600;
	margin-bottom: 20px;
}	
.header h6 {
	font-size: 16px;
	line-height: 210%;
	font-weight: 300;
}	
.header h6 span {
	color: #f7d728;
	font-weight: 300;
}

/************************* Backgrounds *************************/
.wrapper {
	text-align: center;
	padding: 4rem 2.5rem;
}
.wrapper h1 {
	margin-bottom: 3.5rem;
	font-size: 2rem;
	font-weight: 100;
	position: relative;
}
.wrapper h5 {
	font-size: .7rem;
	font-weight: 100;
	position: relative;
	margin: 0;
	line-height: 100%;
}
.wrapper h1:after {
	position: absolute;
	bottom: -4px;
	width: 40px;
	height: 3px;
	left: 50%;
	margin-left: -20px;
	content: "";
	border-radius: 30px;
	background: #2e323c;
}
.shade-one {
	background-color: #9482e8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9482e8), to(#4e3eb7));
	background-image: -webkit-linear-gradient(right, #9482e8, #4e3eb7);
	color: #ffffff;	
}
.shade-two {
	background-color: #FF7E39;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFB280), to(#FF7E39));
	background-image: -webkit-linear-gradient(right, #FFB280, #FF7E39);
	color: #ffffff;
}
.shade-three {
	background-color: #2e3a4a;
	color: #d0d8e2;
}






/* Demo Container */
.demo-container {
	padding: 0;
	background: #d4dde4;
}




.preview-column {
	margin-bottom: 50px;
}
h6.preview-title {
	font-size: 16px;
	font-weight: 600;
	line-height: 170%;
	margin-bottom: 10px
}
a.theme-preview.lg {
	max-height: 300px;
	overflow: hidden;
	border-radius: 6px;
	display: block;
	text-align: center;
	position: relative;
	-webkit-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	margin-bottom: 10px;
}
a.theme-preview {
	max-height: 480px;
	overflow: hidden;
	border-radius: 6px;
	display: block;
	text-align: center;
	position: relative;
	-webkit-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	margin-bottom: 10px;
}
a.theme-preview img {
	max-width: 100%;
	height: auto;
	border-radius: 6px;
	display: block;
	text-align: center;
	margin: auto;
}
a.theme-preview .image-overly {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0;
	display: none;
}
a.theme-preview:hover .image-overly {
	display: block;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	padding-top: 30%;
	background: rgba(255, 255, 255, 0.2);
}
a.theme-preview:hover .image-overly:after {
	transition: all 0.5s ease;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -18px;
	margin-left: -60px;
	width: 150px;
	height: 48px;
	font-size: 18px;
	background-color: #ff6d1e;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eb3e3a), to(#ff6d1e));
	background-image: -webkit-linear-gradient(right, #eb3e3a, #ff6d1e);
	color: #ffffff;
	font-weight: 600;
	line-height: 48px;
	content: "Live Demo";
	text-align: center;
	border-radius: 100px;
}



/* Pricing */
.pricing h2 {
	font-size: 4rem;
	font-weight: 300;
	line-height: 180%;
}
/* Pricing */
.pricing h4 {
	font-size: 1.5rem;
	line-height: 180%;
}


/* Buy Now Button */
.buy-btn {
	background-color: #ff7e2b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff1212), to(#ff7e2b));
	background-image: -webkit-linear-gradient(right, #ff1212, #ff7e2b);
	color: #ffffff;
	border-radius: 50px;
	font-size: 18px;
	margin: 0px auto;
	padding: 9px 35px;
	font-weight: 600;
	text-align: center;
	float: right;
}
.buy-btn:hover {
	background-color: #ff1212;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7e2b), to(#ff1212));
	background-image: -webkit-linear-gradient(right, #ff7e2b, #ff1212);
	color: #ffffff;
	text-decoration: none;
}



/* Buy Now Big Button */
.big-buy-btn {
	background-color: #ffffff;
	color: #000000;
	border-radius: 50px;
	font-size: 21px;
	margin: 20px auto;
	padding: 15px 50px;
	font-weight: 700;
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;
}
.big-buy-btn:hover {
	background-color: #ffffff;
	color: #333333;
	text-decoration: none;
	box-shadow: 0px 15px 20px -10px #000000;
}



/* Footer */
.footer {
	position: relative;
	padding: 5rem 1.5rem;
	color: #ffffff;
	text-align: center;
}
.footer h2 {
	line-height: 100%;
	font-weight: 100;
	font-size: 2rem;
}	
.footer h6 {
	line-height: 150%;
	font-weight: 100;
	font-size: 1rem;
}
.footer .list-box {
	margin: 0 0 30px 0;
	text-align: center;
}
.footer .list-box img.icon {
	margin: 0 auto 20px auto;
	max-width: 30px;
	max-height: 30px;
}
.footer .list-box h5 {
	margin: 0 0 20px 0;
	font-size: 1rem;
	font-weight: 300;
}
.footer .list-box p {
	margin: 0;
	font-size: .8rem;
	font-weight: 300;
}





.no-gutters {
  margin-right: -0px;
  margin-left: -0px;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0px;
  padding-left: 0px;
}


