/*************** 1. Sass Variables ***************/
/*************** 2.Mixins ***************/
/*************** 1. Open Sans Google Font ***************/
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans/opensans-semibold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
.search-box {
  min-height: 64px;
  background: #ecf0f3;
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  padding: 15px; }
  .search-box .input-group .form-control {
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
    border-right: 0;
    font-size: 12px; }
    .search-box .input-group .form-control:focus {
      border: 1px solid #fa5555;
      border-right: 0; }
  .search-box .input-group .input-group-btn .btn {
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    border-radius: 0 20px 20px 0;
    margin: 0; }

.users-container {
  overflow: hidden;
  position: relative;
  padding: 15px;
  border-right: 1px solid #ecf0f3; }

.users {
  padding: 0 5px 0 0; }
  .users .person {
    position: relative;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    background-color: #ffffff; }
    .users .person:after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      content: '';
      background-color: #ecf0f3; }
    .users .person img {
      float: left;
      width: 40px;
      height: 40px;
      margin-right: 15px;
      border-radius: 50%; }
    .users .person .name {
      color: #333333;
      font-family: 'open_sansbold'; }
    .users .person .time {
      font-size: 11px;
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 0 0 5px 5px;
      color: gray; }
    .users .person .preview {
      display: inline-block;
      overflow: hidden !important;
      width: 70%;
      font-family: 'open_sanslight';
      white-space: nowrap;
      text-overflow: ellipsis;
      color: gray; }
    .users .person span.status {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      background: #ccd6e0;
      display: inline-block;
      margin-left: 5px; }
      .users .person span.status.online {
        background: #2bb776; }
      .users .person span.status.offline {
        background: #ccd6e0; }
      .users .person span.status.away {
        background: #ecc45f; }
      .users .person span.status.busy {
        background: #fa5555; }
    .users .person.active, .users .person:hover {
      border: 0;
      background-color: #25a0e2;
      padding-left: 10px; }
    .users .person.active span, .users .person:hover span {
      color: #ffffff;
      background: transparent; }
    .users .person.active:after, .users .person:hover:after {
      display: none; }
    .users .person:last-child:after {
      background: none; }

.selected-user {
  width: 100%;
  padding: 0 15px;
  min-height: 64px;
  background-color: #e2e8ed;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0; }
  .selected-user span {
    color: #000000;
    line-height: 64px; }
    .selected-user span .name {
      font-family: 'open_sansbold'; }

.chat-container {
  position: relative;
  padding: 15px 15px 100px 15px; }

li.chat-left, li.chat-right {
  position: relative; }
li img {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }
li .chat-avatar {
  float: left; }
li.chat-right > .chat-avatar {
  float: right; }
li .chat-name {
  font-size: 10px;
  color: #999999;
  text-align: center; }
li .chat-text {
  margin-left: 60px;
  padding: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e2e8ed;
  left: 15px; }
  li .chat-text:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: 40px;
    border: 10px solid;
    border-color: transparent #e2e8ed transparent transparent; }
  li .chat-text.info {
    background: #ebf8ff; }
    li .chat-text.info:before {
      border-color: transparent #ebf8ff transparent transparent; }
  li .chat-text.warning {
    background: #fffcea; }
    li .chat-text.warning:before {
      border-color: transparent #fffcea transparent transparent; }
  li .chat-text.danger {
    background: #fff3f3; }
    li .chat-text.danger:before {
      border-color: transparent #fff3f3 transparent transparent; }
  li .chat-text.success {
    background: #ebfff5; }
    li .chat-text.success:before {
      border-color: transparent #ebfff5 transparent transparent; }
li.chat-right > .chat-text {
  text-align: right;
  right: 16px;
  margin-right: 60px; }
  li.chat-right > .chat-text:before {
    left: initial;
    right: 40px;
    border-color: transparent transparent transparent #e2e8ed; }
  li.chat-right > .chat-text.info {
    background: #ebf8ff; }
    li.chat-right > .chat-text.info:before {
      border-color: transparent transparent transparent #ebf8ff; }
  li.chat-right > .chat-text.warning {
    background: #fffcea; }
    li.chat-right > .chat-text.warning:before {
      border-color: transparent transparent transparent #fffcea; }
  li.chat-right > .chat-text.danger {
    background: #fff3f3; }
    li.chat-right > .chat-text.danger:before {
      border-color: transparent transparent transparent #fff3f3; }
  li.chat-right > .chat-text.success {
    background: #ebfff5; }
    li.chat-right > .chat-text.success:before {
      border-color: transparent transparent transparent #ebfff5; }
li .chat-hour {
  margin-left: 60px;
  padding: 2px;
  margin-bottom: 10px;
  font-size: 11px; }
  li .chat-hour > span {
    font-size: 16px;
    color: #2bb776; }
li.chat-right > .chat-hour {
  text-align: right;
  margin-right: 60px; }

.chat-form {
  position: absolute;
  padding: 15px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-top: 1px solid #ecf0f3; }
  .chat-form textarea.form-control {
    border: 1px solid #ccd6e0;
    width: 100%;
    padding-right: 50px;
    font-size: 12px;
    min-height: 60px; }
    .chat-form textarea.form-control:focus {
      border: 1px solid #25a0e2; }
  .chat-form .btn {
    position: absolute;
    right: 20px;
    top: 20px; }
    .chat-form .btn i {
      margin: 0;
      font-size: 21px; }

/*# sourceMappingURL=chat.css.map */
